*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
}
nav{
    list-style: none;
    text-decoration: none;
    height: 8.0rem;
    background-color: black; 
}
.logo{
    width: 1.50rem;
    position: absolute;
    top: 1.7rem;
    left: 12%;
    color: white;
    letter-spacing: 0.5rem;
    font-size: 4.0rem;
    font-family: 'Lobster', cursive;
}
nav ul{
    float: right;
    margin-right: 2.5rem;
    z-index: 200;
}
nav ul li{
    display: inline-block;
    line-height: 8.0rem;
    margin: 0 1.5rem;
    margin-left: 5.0rem;
    padding-bottom: 0.5rem;
}
nav ul li a{
    text-decoration: none;
    position: relative;
    color: white;
    padding: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2.3rem;
    font-family: 'Architects Daughter', cursive;
    
}
nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
} 
label #btn,
label #cancel{
    color: white;
    font-size: 3.0rem;
    float: right;
    line-height:8.0rem;
    margin-right: 4.0rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media  (max-width: 1118px){
    nav .logo{
        left: 8%;
    }
}
@media  (max-width: 944px){
    nav .logo{
        left: 6%;
        top: 2.0rem;
        width: 13.0rem;
    }
    nav ul li a{
        font-size: 1.7rem;
    }
}
@media (max-width: 860px){
    label #btn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #34495e;
        top: 8.0rem;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
       
    }
    nav ul li{
        display: block;
        margin: 5.0rem 0;
        line-height: 3.0rem;
        
    }
    nav ul li a{
        font-size: 2.0rem;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    
}

/*------NAV BAR ---
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background-color: black;
    z-index: 50;
}
nav ul{
    float: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block; 
    margin-left: 5.0rem;
    padding-bottom: 0.5rem;
    
}
nav ul li a{
    text-decoration: none;
    padding: 0.2rem;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 2.3rem;
    font-family: 'Architects Daughter', cursive;
    border-bottom: 0.2rem solid transparent;
    transition: border-bottom 0.4s 2ms;
}
nav ul li a:hover{
    border-bottom: 0.2rem solid white;
    font-weight: bold;
}

.logo{
    color: white;
    letter-spacing: 0.5rem;
    font-size: 4.0rem;
    font-family: 'Lobster', cursive;
    position: fixed;
    left: 12.0rem;
}
.loader{
    position: absolute;
    top: -3.0rem;
    left: -4.0rem;
    width: 22.0rem;
    height: 11.0rem;
    background-color: transparent;
}
.loader span{
    position: absolute;
    border: 0.8rem solid rgb(25, 107, 175);
    
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(124,56,180,1) 0%,rgba(63,213,128,1) 100%,rgba(79,45,157,1) 100%); 
    
}
.loader span:before{
    content: "";
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    width: 0.8rem;
    height: 50%;
    background-color: crimson;
}
.loader span:after{
    content: "";
    position: absolute;
    bottom: -0.8rem;
    right: -0.8rem;
    width: 0.8rem;
    height: 50%;
    background-color: #ff0;
}
.loader span:nth-child(1){
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin 8s linear infinite;
}
.loader span:nth-child(2){
    top: 2.0rem;
    left: 2.0rem;
    right: 2.0rem;
    bottom: 2.0rem;
    animation: spin 4s linear infinite;
}
 @keyframes spin{
     0%{
         transform: rotateY(0deg);
     }
     100%{
         transform: rotateY(360deg);
     }
 } */

 /*----BANNER---*/

.wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
         
}
.slide{
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 0.2rem solid black;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.slide:nth-child(1){
    background: url(banner4-coronavirus.jpg) no-repeat center ;
    background-size: cover;
}
.slide:nth-child(2){
    background: url(banner1-maskgloves.jpg) no-repeat center;
    background-size: cover;
}
.slide:nth-child(3){
    background: url(banner3-hotel.jpg) no-repeat center;
    background-size: cover;
}
.slide:nth-child(4){
    background: url(banner2-laptops.jpeg) no-repeat center;
    background-size: cover;
}
.slide:nth-child(5){
    background: url(banner6-eLearning.png) no-repeat center;
    background-size: cover;
}
.slide:nth-child(6){
    background: url(banner5-unemployment.jpg) no-repeat center;
    background-size: cover;
    border-right: none;
}

.banner-text h2 {
    position: absolute;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 12rem;
    
}
.banner-text p{
   visibility: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.slide:hover{
    flex-grow:6;
    cursor: pointer;
}
.slide:hover .banner{
    width: 50.0rem;
    height: 25.0rem;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    transform: translate(-50%,-50%);
}
.slide:hover .banner:before{
    width: 60.0rem;
    height: 35.0rem;
    content: "";
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 50.0rem rgba(255,255,255,0.2);
    filter: blur(1.0rem);
}
*/
.slide:hover .banner-text p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50.0rem;
    height: 25.0rem;
    visibility: visible;
    text-align: center;
    background:inherit;
    padding: 1.5rem;
    border-radius: 2.5rem;
    color: black;
    font-size: 2.4rem;
    
}
.slide:hover .banner-text h2{
    visibility: hidden;
}
@media screen and (max-width:1112px){
    .wrapper{
        display: block;
        width: 100%;
        height: 35%;
        
    }
    .slide{
        display: block;
        width: 100%;
        height: 100%;
        border: 0.2rem solid black;
        border-left:0.4rem solid black;
    }
    
}
